name: Integrate

on:
  push:
    branches: [main, "releases/v*"]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.x.x

      - name: Install dependencies
        run: bun i

      - name: Build action
        run: |
          bun --bun typecheck
          bun run build

  coding-standards:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.x.x

      - name: Install dependencies
        run: pnpm install

      - name: Run Biome
        run: bun biome ci .
