name: Integrate

on:
  push:
    branches: [main, "releases/v*"]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: depot-ubuntu-24.04-arm-16
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2
        with:
          bun-version-file: .bun-version

      - name: Install dependencies
        run: bun install --ignore-scripts

      - name: Build action
        run: |
          bun --bun typecheck
          bun run build

  coding-standards:
    runs-on: depot-ubuntu-24.04-arm-16
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2
        with:
          bun-version-file: .bun-version

      - name: Install dependencies
        run: bun i

      - name: Run Biome
        run: bun biome ci .
