name: Update README.md Package Versions
on:
  schedule:
    - cron: "0 0 * * 0" # every Sunday at 00:00
  workflow_dispatch:

jobs:
  update-readme-package-versions:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@8f24390df009a496891208e5e36b8a1de1f45135 # v1
        with:
          bun-version: 1.x.x

      - name: Install dependencies
        run: bun i

      - name: Update README.md package Versions
        id: update-readme-package-versions
        run: |
          bun scripts/update-readme-package-versions.ts

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c5a7806660adbe173f04e3e038b0ccdcd758773c # v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: update package versions in README.md"
          committer: GitHub Actions Bot <actions@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          branch: update-readme-package-versions
          delete-branch: true
          title: "chore: update package versions in README.md"
          body: |
            This PR updates the biome package version in README.md to the latest version.
          add-paths: README.md
